@page "/"
@using InformNotifications.Models;
@inject HttpClient HttpClient;
@inject NavigationManager NavigationManager

<PageTitle>Inform Notifications</PageTitle>

<div class="text-center">
    <h1>Inform Notifications</h1>
    <p class="lead">Home Page</p>
</div>

<div class="mt-4 row">
    <div class="col-6"><h2>Message History</h2></div>
    <div class="col-6 justify-content-end"><button class="text-right btn btn-outline-danger">Clear History</button></div>
</div>

@foreach (var message in messages)
{
    <div class="text-center pt-4">
        <label class="alert alert-primary">
            <a href="/testing" class="text-decoration-none">
                <h3>@(message.SentMessageId): @(message.TimeDelivered.ToLongDateString())</h3>
                <p>Content: @message.Contents</p>
            </a>
        </label>
    </div>
}

@code
{
    private List<SentMessage> messages = new();
    
    protected override async Task OnInitializedAsync()
    {
        messages = await HttpClient.GetFromJsonAsync<List<SentMessage>>(NavigationManager.BaseUri + "sentmessages");
    }
}
