@page "/"

<PageTitle>Inform Notifications</PageTitle>

<div class="text-center mt-4">
    <h1>Inform Notifications</h1>
    <p class="lead">Welcome to your new app</p>
</div>

<div class="row mb-4 text-center">
    <div class="col-4 themed-grid-col">Test</div>
    <div class="col-4 themed-grid-col">Test</div>
    <div class="col-4 themed-grid-col">Test</div>
</div>
<div class="row row-cols-md-3 mb-3 text-center">
    <div class="col themed-grid-col">Test</div>
    <div class="col themed-grid-col">Test</div>
    <div class="col themed-grid-col">Test</div>
</div>
<div class="row mb-3 text-center">
    <div class="col-md-3 themed-grid-col">Test</div>
    <div class="col-md-6 themed-grid-col">Test</div>
    <div class="col-md-3 themed-grid-col">Test</div>
</div>

<div class="checkbox mt-4">
    <label>
        <input type="checkbox" value="remember-me"> Remember Me
    </label>
</div>

<button class="btn btn-outline-danger">Testing</button>
<button class="btn btn-primary">Testing</button>

<a href="#" class="btn btn-success">Back to top</a>

<div class="alert alert-success mt-4">
    <div class="alert-heading">
        Frick you
    </div>
</div>

<p class="mt-5 mb-3 text-muted">&copy; Copyright stuff @(DateTime.UtcNow.Year)</p>
