@page "/"
@using InformNotifications.Models;

<PageTitle>Inform Notifications</PageTitle>

<div class="text-center">
    <h1>Inform Notifications</h1>
    <p class="lead">Home Page</p>
</div>

<div class="mt-4 row">
    <div class="col-6"><h2>Message History</h2></div>
    <div class="col-6 justify-content-end"><button class="text-right btn btn-outline-danger">Clear History</button></div>
</div>

@foreach (var message in messages)
{
    <div class="text-center pt-4">
        <label class="alert alert-primary">
            <a href="/testing" class="text-decoration-none">
                <h3>@(message.MessageId): @(message.TimeDelivered.ToLongDateString())</h3>
                <p>Content: @message.Contents</p>
            </a>
        </label>
    </div>
}

@code
{
    private List<SentMessage> messages = new();
    
    protected override void OnInitialized()
    {
        var aiden = new Recipient()
        {
            Student = new Student()
            {
                FirstName = "Aiden",
                LastName = "Gariepy",
                GraduationYear = "2023"
            },
            Parents = new List<Parent>(),
            SendToParents = false
        };
        var jack = new Recipient()
        {
            Student = new Student()
            {
                FirstName = "Jack",
                LastName = "Boggess",
                GraduationYear = "2026"
            },
            Parents = new List<Parent>(),
            SendToParents = false
        };
        var deion = new Recipient()
        {
            Student = new Student()
            {
                FirstName = "Deion",
                LastName = "Hareg",
                GraduationYear = "2021"
            },
            Parents = new List<Parent>(),
            SendToParents = false
        };
        var message1 = new SentMessage()
        {
            MessageId = 0,
            TimeDelivered = DateTime.Now,
            Recipients = new List<Recipient>()
                {
                    aiden,
                    jack,
                    deion
                },
            Contents = "This is a message about a time that I died. Farewell."
        };
        var message2 = new SentMessage()
        {
            MessageId = 1,
            TimeDelivered = DateTime.Now,
            Recipients = new List<Recipient>()
                {
                    aiden,
                    jack,
                    deion
                },
            Contents = "Now you will perish. Farewell."
        };

        messages.Add(message1);
        messages.Add(message2);
    }
}
