@page "/mymessages/{messageId:int}"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@using InformNotifications.Models

<p>@(invalidMessage ? "invalid" : "its fine....")</p>

@* @if (!invalidMessage)
{
    <h1>@sentMessage.SentMessageId</h1>
    <p>@sentMessage.Contents</p>
} *@

<a href="/" class="text-decoration-none btn btn-primary">Back</a>

@code
{
    [Parameter]
    public int MessageId { get; set; }
    SentMessage? sentMessage;
    bool invalidMessage = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            sentMessage = await HttpClient.GetFromJsonAsync<SentMessage>(
                $"{NavigationManager.BaseUri}sentmessages/{MessageId}");
        }
        catch (Exception ex)
        {
            invalidMessage = true;
            Console.Error.WriteLine(ex);
        }
    }
}
