@page "/mymessages/{messageId:int}"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@using InformNotifications.Models

@if (dataRecieved)
{
    <div class="text-center">
        <h1>@sentMessage.TimeDelivered</h1>
        <div class="mt-4 lead">
            @sentMessage.Contents
        </div>
    </div>
}
else if (dataFailed)
{
    <div class="text-center lead">Sorry, there is no message at this index</div>
}
else
{
    <div class="text-center lead">Loading...</div>
}

<a href="/" class="text-decoration-none btn btn-primary">Back</a>

@code
{
    [Parameter]
    public int MessageId { get; set; }
    SentMessage? sentMessage;
    bool dataRecieved = false;
    bool dataFailed = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            sentMessage = await HttpClient.GetFromJsonAsync<SentMessage>($"{NavigationManager.BaseUri}sentmessages/{MessageId}");
            dataRecieved = true;
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine(ex);
            dataFailed = true;
        }
    }
}
