@inherits LayoutComponentBase

<PageTitle>InformNotifications</PageTitle>

<div class="page">
    @* Maybe sidebar? *@

    <main>
        <div class="container">
            <header class="d-flex justify-content-center py-3">
                <ul class="nav nav-pills">
                    <li class="nav-item"><NavLink href="" class="nav-link">Home</NavLink></li>
                </ul>
            </header>
        </div>

        <article class="content">
            @Body
        </article>

        @* <footer>
            <p class="mt-5 mb-3 text-muted text-center">&copy; Copyright stuff @(DateTime.UtcNow.Year)</p>
        </footer> *@
    </main>
</div>

@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> *@
